//- include mixins
include ../partials/_bar-tab
include ../partials/_onboarding

!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi')
    
    //- Makes your prototype chrome-less once bookmarked to your phone's home screen
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    
    //- Set Apple icons for when app is saved to home screen
    link(rel='apple-touch-icon-precomposed', sizes='57x57',   href='/res/icon/ios/icon-57.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/res/icon/ios/icon-57-2x.png')

    //- Set Apple splash screen for when app is loading
    link(rel="apple-touch-startup-image", sizes='320x480', href="/res/screen/ios/screen-iphone-portrait.png")
    link(rel="apple-touch-startup-image", sizes='640x960', href="/res/screen/ios/screen-iphone-portrait-2x.png")
    link(rel="apple-touch-startup-image", sizes='640x1136', href="/res/screen/ios/screen-iphone-portrait-568h.png")
    
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    
    title #{title}
  body#app-container
    block bar-title
      header.bar-title
        block bar-title-left
        block bar-title-center
          h1.title Spyre
        block bar-title-right

    .content
      block content

    block bar-tab
      nav.bar-tab
        ul.tab-inner
          block bar-tab-inner
            mixin bar-tab('home')

    script(type="text/javascript", src="//use.typekit.net/nkl3dpr.js")
    script
      try{Typekit.load();}catch(e){}

    //- script(type='text/javascript', src='/cordova-2.1.0.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src='/js/libs/fingerblast.js')
    script(type='text/javascript', src='/js/libs/underscore-min.js')
    script(type='text/javascript', src='/js/libs/backbone-min.js')
    script(type='text/javascript', src='/js/libs/ratchet.js')
    
    //- models
    script(type='text/javascript', src='/js/models/SpyreApp.js')
    
    //- view
    script(type='text/javascript', src='/js/views/SpyreAppView.js')
    script(type='text/javascript', src='/js/views/BarTabView.js')

    //- main script
    script(type='text/javascript', src='/js/main.js')

