extends layouts/base

//- no bar tab on signup page
block bar-tab

block bar-title-center
  h1.title= title

block bar-title-left
  if step == 1 
    a.button-back(href='/signup', data-transition='slide-out')
      i.icon-chevron-left
  else
    - lastStep = step - 1
    a.button-back(href='/onboarding/#{lastStep}', data-transition='slide-out')
      i.icon-chevron-left
      


mixin step-count(current_step)
  - var i = 1
  - var j = 5
  - while(i <= j)
    if i == current_step
      span.count-main= i
    else
      span.count= i
    - i++

block content
  .onboarding(id='onboarding#{step}')
    mixin onboarding(step)
  #step-count
    mixin step-count(step)